In [60]:
import pandas as pd

genre_studios = pd.read_csv('Data/movie_gross_df_CLEAN.csv')
imdb_titles = pd.read_csv('Data/imdb_title_basics.csv')
imdb_ratings = pd.read_csv('Data/imdb_title_ratings_df_CLEAN.csv')
money = pd.read_csv('Data/FinalCleaning.csv')

In [42]:
imdb_titles.head()

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,Science Fiction,Romance,Family,War,Music,Sport,Western,Musical,Adult,News
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,0.0,"Comedy,Drama",False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [43]:
imdb_titles['Link'] = imdb_titles['original_title'].str.replace(r'[^\w\s]+', '')
imdb_titles

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,Romance,Family,War,Music,Sport,Western,Musical,Adult,News,Link
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",True,True,True,...,False,False,False,False,False,False,False,False,False,Sunghursh
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",False,False,True,...,False,False,False,False,False,False,False,False,False,Ashad Ka Ek Din
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,False,False,True,...,False,False,False,False,False,False,False,False,False,The Other Side of the Wind
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,0.0,"Comedy,Drama",False,False,True,...,False,False,False,False,False,False,False,False,False,Sabse Bada Sukh
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",False,False,True,...,False,False,False,False,False,False,False,False,False,La Telenovela Errante
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140539,146138,tt9916428,The Secret of China,The Secret of China,2019,0.0,"Adventure,History,War",False,False,False,...,False,False,True,False,False,False,False,False,False,The Secret of China
140540,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,False,False,True,...,False,False,False,False,False,False,False,False,False,Kuambil Lagi Hatiku
140541,146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,0.0,Documentary,False,False,False,...,False,False,False,False,False,False,False,False,False,Rodolpho TeÃ³philo O Legado de um Pioneiro
140542,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,0.0,Comedy,False,False,False,...,False,False,False,False,False,False,False,False,False,Dankyavar Danka
140543,146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,0.0,Documentary,False,False,False,...,False,False,False,False,False,False,False,False,False,Chico Albuquerque RevelaÃ§Ãµes

In [44]:
imdb_titles['Link'] = imdb_titles['Link'].str.lower()

In [45]:
imdb_titles['start_year_str'] = imdb_titles['start_year'].astype(str)

In [46]:
imdb_titles['Link'] = imdb_titles['Link'] + imdb_titles['start_year_str']

In [47]:
imdb_titles

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,Family,War,Music,Sport,Western,Musical,Adult,News,Link,start_year_str
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",True,True,True,...,False,False,False,False,False,False,False,False,sunghursh2013,2013
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",False,False,True,...,False,False,False,False,False,False,False,False,ashad ka ek din2019,2019
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,False,False,True,...,False,False,False,False,False,False,False,False,the other side of the wind2018,2018
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,0.0,"Comedy,Drama",False,False,True,...,False,False,False,False,False,False,False,False,sabse bada sukh2018,2018
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",False,False,True,...,False,False,False,False,False,False,False,False,la telenovela errante2017,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140539,146138,tt9916428,The Secret of China,The Secret of China,2019,0.0,"Adventure,History,War",False,False,False,...,False,True,False,False,False,False,False,False,the secret of china2019,2019
140540,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,False,False,True,...,False,False,False,False,False,False,False,False,kuambil lagi hatiku2019,2019
140541,146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,0.0,Documentary,False,False,False,...,False,False,False,False,False,False,False,False,rodolpho teÃ³philo o legado de um pioneiro2015,2015
140542,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,0.0,Comedy,False,False,False,...,False,False,False,False,False,False,False,False,dankyavar danka2013,2013
140543,146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,0.0,Documentary,False,False,False,...,False,False,False,False,False,False,False,False,chico albuquerque revelaÃ§Ãµes2013,2013

In [48]:
imdb_titles_w_studio = imdb_titles.merge(genre_studios, on = "Link")

In [49]:
imdb_titles_w_studio

,Unnamed: 0_x,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,News,Link,start_year_str,Unnamed: 0_y,Title,Studio,Domestic Gross,Foreign Gross,Year,Clean Title
0,38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",True,True,True,...,False,wazir2016,2016,2568,Wazir,Relbig.,1100000.0,NaN,2016,wazir
1,48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",False,False,True,...,False,on the road2012,2012,904,On the Road,IFC,744000.0,8000000,2012,on the road
2,54,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",False,False,True,...,False,the secret life of walter mitty2013,2013,1169,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013,the secret life of walter mitty
3,58,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",True,True,True,...,False,a walk among the tombstones2014,2014,1577,A Walk Among the Tombstones,Uni.,26300000.0,26900000,2014,a walk among the tombstones
4,60,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",True,False,False,...,False,jurassic world2015,2015,1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015,jurassic world
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,130754,tt8108198,Andhadhun,Andhadhun,2018,139.0,"Crime,Thriller",False,True,False,...,False,andhadhun2018,2018,3280,Andhadhun,Eros,1200000.0,NaN,2018,andhadhun
1927,133318,tt8362680,Mountain,Mountain,2018,15.0,Documentary,False,False,False,...,False,mountain2018,2018,3308,Mountain,Greenwich,365000.0,NaN,2018,mountain
1928,134045,tt8427036,Helicopter Eela,Helicopter Eela,2018,135.0,Drama,False,False,True,...,False,helicopter eela2018,2018,3354,Helicopter Eela,Eros,72000.0,NaN,2018,helicopter eela
1929,135216,tt8549902,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,False,False,False,...,False,oolong courtyard2018,2018,3362,Oolong Courtyard,CL,37700.0,NaN,2018,oolong courtyard
1930,140826,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",False,False,False,...,False,burn the stage the movie2018,2018,3204,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018,burn the stage the movie

In [50]:
imdb_titles_w_studio.to_csv('imdb_titles_w_studio.csv')

In [52]:
imdb_title_rating_studio = imdb_titles_w_studio.merge(imdb_ratings, on = 'tconst' )

In [53]:
imdb_title_rating_studio

,Unnamed: 0_x,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,Unnamed: 0_y,Title,Studio,Domestic Gross,Foreign Gross,Year,Clean Title,Unnamed: 0,Average Rating,Number of Votes
0,38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",True,True,True,...,2568,Wazir,Relbig.,1100000.0,NaN,2016,wazir,28906,7.1,15378
1,48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",False,False,True,...,904,On the Road,IFC,744000.0,8000000,2012,on the road,28907,6.1,37886
2,54,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",False,False,True,...,1169,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013,the secret life of walter mitty,57942,7.3,275300
3,58,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",True,True,True,...,1577,A Walk Among the Tombstones,Uni.,26300000.0,26900000,2014,a walk among the tombstones,2226,6.5,105116
4,60,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",True,False,False,...,1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015,jurassic world,7450,7.0,539338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881,130621,tt8097306,Nobody's Fool,Nobody's Fool,2018,110.0,"Comedy,Drama,Romance",False,False,True,...,3188,Nobody's Fool,Par.,31700000.0,1800000,2018,nobodys fool,61953,4.6,3618
1882,130754,tt8108198,Andhadhun,Andhadhun,2018,139.0,"Crime,Thriller",False,True,False,...,3280,Andhadhun,Eros,1200000.0,NaN,2018,andhadhun,595,8.5,43409
1883,134045,tt8427036,Helicopter Eela,Helicopter Eela,2018,135.0,Drama,False,False,True,...,3354,Helicopter Eela,Eros,72000.0,NaN,2018,helicopter eela,4530,5.4,673
1884,135216,tt8549902,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,False,False,False,...,3362,Oolong Courtyard,CL,37700.0,NaN,2018,oolong courtyard,27626,4.6,61
1885,140826,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",False,False,False,...,3204,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018,burn the stage the movie,4586,8.8,2067

In [61]:
money

,Unnamed: 0,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI,Year,nameYear
0,5677,the birth of a nation,110000,10000000,11000000,10890000,100.000000,1915,the birth of a nation1915
1,5523,intolerance,385907,0,0,-385907,0.000000,1916,intolerance1916
2,5614,20000 leagues under the sea,200000,8000000,8000000,7800000,40.000000,1916,20000 leagues under the sea1916
3,5683,over the hill to the poorhouse,100000,3000000,3000000,2900000,30.000000,1920,over the hill to the poorhouse1920
4,4569,benhur a tale of the christ,3900000,9000000,9000000,5100000,2.307692,1925,benhur a tale of the christ1925
...,...,...,...,...,...,...,...,...,...
5693,1543,down under cover,40000000,0,0,-40000000,0.000000,2019,down under cover2019
5694,124,godzilla king of the monsters,170000000,85576941,299276941,129276941,1.760453,2019,godzilla king of the monsters2019
5695,194,moonfall,150000000,0,0,-150000000,0.000000,2020,moonfall2020
5696,1205,hannibal the conqueror,50000000,0,0,-50000000,0.000000,2020,hannibal the conqueror2020
5697,535,call of the wild,82000000,0,0,-82000000,0.000000,2020,call of the wild2020

In [62]:
full_imdb_data = imdb_title_rating_studio.merge(money, left_on='Link', right_on='nameYear')

In [63]:
full_imdb_data

,Unnamed: 0_x,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,...,Number of Votes,Unnamed: 0_y,Movie,Production Budget,Domestic Gross_y,Worldwide Gross,Profit,ROI,Year_y,nameYear
0,54,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",False,False,True,...,275300,436,the secret life of walter mitty,91000000,58236838,187861183,96861183,2.064409,2013,the secret life of walter mitty2013
1,58,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",True,True,True,...,105116,2066,a walk among the tombstones,28000000,26017685,62108587,34108587,2.218164,2014,a walk among the tombstones2014
2,60,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",True,False,False,...,539338,33,jurassic world,215000000,652270625,1648854864,1433854864,7.669092,2015,jurassic world2015
3,62,tt0376136,The Rum Diary,The Rum Diary,2011,119.0,"Comedy,Drama",False,False,True,...,94787,1315,the rum diary,45000000,13109815,21544732,-23455268,0.478772,2011,the rum diary2011
4,67,tt0383010,The Three Stooges,The Three Stooges,2012,92.0,"Comedy,Family",False,False,False,...,28570,1903,the three stooges,30000000,44338224,54052249,24052249,1.801742,2012,the three stooges2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,124068,tt7535780,The Great Wall,The Great Wall,2017,72.0,Documentary,False,False,False,...,24,191,the great wall,150000000,45157105,334486852,184486852,2.229912,2017,the great wall2017
1159,124213,tt7545524,Ben Is Back,Ben Is Back,2018,103.0,Drama,False,False,True,...,10402,3294,ben is back,13000000,3703182,9633111,-3366889,0.741009,2018,ben is back2018
1160,126068,tt7690670,SuperFly,Superfly,2018,116.0,"Action,Crime,Thriller",True,True,False,...,4753,2948,superfly,16000000,20537137,20723581,4723581,1.295224,2018,superfly2018
1161,127205,tt7784604,Hereditary,Hereditary,2018,127.0,"Drama,Horror,Mystery",False,False,True,...,151571,3555,hereditary,10000000,44069456,70133905,60133905,7.013390,2018,hereditary2018
1162,129149,tt7959026,The Mule,The Mule,2018,116.0,"Crime,Drama,Thriller",False,True,True,...,58955,1099,the mule,50000000,103804407,170857676,120857676,3.417154,2018,the mule2018

In [66]:
full_imdb_data.to_csv('Complete_CLEAN_IMDB_Data.csv')

In [65]:
!ls

Complete_CLEAN_IMDB_Data
Data
Data Visualizations.ipynb
DataCleaning.ipynb
DataInvestigation_Alex.ipynb
README.md
Untitled.ipynb
Untitled1.ipynb
imdb_titles_w_studio.csv
movie_gross_df_CLEAN.csv
titles.csv
zippedData